<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

    <div class="text-end">
        <span class="badge bg-primary">Fernando</span>
        <p>Esto es un mensaje de chat</p>
    </div>

    <div>
        <span class="badge bg-danger">María</span>
        <p>Saludos Fernando</p>
    </div>
    <div>
        <span class="badge bg-danger">María</span>
        <p>Saludos Fernando</p>
    </div>
    <div>
        <span class="badge bg-danger">María</span>
        <p>Saludos Fernando</p>
    </div>
    <div>
        <span class="badge bg-danger">María</span>
        <p>Saludos Fernando</p>
    </div>
    <div>
        <span class="badge bg-danger">María</span>
        <p>Saludos Fernando</p>
    </div>
    <div>
        <span class="badge bg-danger">María</span>
        <p>Saludos Fernando</p>
    </div>

</div>

<input type="text" class="form-control" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviar_mensaje()" placeholder="enviar mensaje">